/* sizing
=============================*/
/* media query
=============================*/
/* color palette
=============================*/
/* font style
=============================*/
/* load font family
=============================*/
/* Hover Effect
=============================*/
.imglink img {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.imglink:hover img {
  opacity: 0.4;
}

/* Hidden text
=============================*/
.xs {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* CSS Sprite mixin
=============================*/
