//
// GLOBAL BASE STYLE
//


/* import compass
=============================*/
@import "compass";
@import "compass/reset";
@import "variables";
@import "options";





/* base style
=============================*/
html {
    height: 100%;
    width: 100%;
}
body {
    width: 100%;
    min-width: $wrapper-width;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 671px;
    position: relative;
    overflow: auto;
    color: $color-text;
    font-size: 62.5%;
    line-height: 1.8;
    font-family: $font-gothic;
    background: $color-bg;
//    background: url('../images/wood_bg.jpg');
}
a {
    color: $color-link;
    text-decoration: none;
}
p {
    text-align: justify;
}
hr { display: none; }
img { border: none; line-height: 0; vertical-align: bottom; }

* {box-sizing: border-box}




/* common style
=============================*/
.wrapper{
    width: $wrapper-width;
    margin: 0 auto;
    padding: 0 30px;
    @include clearfix;
}
.clearfix{
    @include clearfix;
    position: relative;
}


.origamic_container{
    width: 800px;
    margin: 50px auto 0;
    padding: 0;
    @include perspective(2000px);
    @include perspective-origin(top);

    .origamic_row{
        position: relative;
        margin-top: -1px;

        .origamic_cell{
            position: absolute;
            top: 0;
            height: 100%;

            &.cell_left{
                background: #fafafa;
            }
            &.cell_right{
                background: #eaeaea;
            }
        }

        &.whole_shadow{
            position: absolute;
            top: 5px;
            left: 0;
            width: 100%;

            .origamic_cell{
                transform: rotateY(30deg);
                box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.2);

                &.cell_left{
                    transform-origin: 100%;
                }
                &.cell_right{
                    transform-origin: 0%;
                }
            }
        }
    }
}

.origamic_controller{
    margin: 200px 150px 350px;
    .origamic_controll_bar{
        position: relative;
        height: 4px;
        background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.3));
    }
    .origamic_controll_tab{
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: #dddddd;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }

}